<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Définition du bean pour DaoImplV2 avec le nom "dao2" -->
    <bean id="dao2" class="ext.DaoImplV2"/>

    <!-- Définition du bean pour MetierImpl avec injection du bean dao2 -->
    <bean id="metier" class="metier.MetierImpl">
        <constructor-arg ref="dao2"/>  <!-- Injection de dao2 dans MetierImpl -->
    </bean>

</beans>
